@import './assets/animate.css';
/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
}

.animated-delay-1 {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
}

.animated-delay-2 {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
}

.animated {
    visibility: visible !important;
}
.hide-on-init {
    visibility: hidden;
}