<div class="form-contact">
    <div class="formulario">
        <form>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="Phone">
            <textarea placeholder="Message"></textarea>
            <button type="submit">send message</button>
        </form>
    </div>
    <div class="info-contact">
        <div class="info">
            <div class="img" style="background-image: url('../../../assets/img/member-1.jpg');"></div>
            <div>
                <h1>Jhon Doe</h1>
                <h2>President</h2>
                <p>Email: email@ex.com</p>
                <p>Phone: +1 234 434 4333</p>
                <p>Fax: +1 234 434 4333</p>
                <div class="icons">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                    <fa-icon [icon]="faTwitter"></fa-icon>
                    <fa-icon [icon]="faGlobe"></fa-icon>
                </div>
            </div>
        </div>
        <div class="info">
            <div class="img" style="background-image: url('../../../assets/img/member-2.jpg');"></div>
            <div>
                <h1>Sam Arthur</h1>
                <h2>CEO</h2>
                <p>Email: email@ex.com</p>
                <p>Phone: +1 234 434 4333</p>
                <p>Fax: +1 234 434 4333</p>
                <div class="icons">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                    <fa-icon [icon]="faTwitter"></fa-icon>
                    <fa-icon [icon]="faGlobe"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>