.form-contact {
    width  : 100%;
    display: flex;

    .formulario {
        width: 50%;

        >form {
            display       : flex;
            flex-direction: column;

            >input,
            >textarea {
                -webkit-box-sizing: border-box;
                -moz-box-sizing   : border-box;
                box-sizing        : border-box;
                margin            : 15px 0;
                outline           : none;
                box-shadow        : none;
                border            : 1px solid rgba(255, 255, 255, 0.76);
                background-color  : rgba(255, 255, 255, 0);
            }

            >input {
                height: 40px;
            }

            >textarea {
                resize    : vertical;
                min-height: 100px;

            }

            >button {
                text-transform  : uppercase;
                text-align      : center;
                font-weight     : bold;
                font-family     : Arial, Helvetica, sans-serif;
                font-size       : 12px;
                height          : 35px;
                background-color: #FFC008;
                border-style    : none;
                outline         : none;
            }
        }
    }

    .info-contact {
        width  : 50%;
        padding: 15px 10px;
        .img {
            width : 120px;
            height: 100px;
            margin: 0 10px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;            
        }

        .info {
            margin-bottom: 60px;
            display: flex;
            color: rgba(255, 255, 255, 0.76);
            font-family: Arial, Helvetica, sans-serif;
            h1 {
                font-size: 20px;
                margin   : 0;
                color: white;
            }

            h2 {
                font-size     : 12px;
                font-weight: 500;
                text-transform: uppercase;
            }

            p {
                margin   : 5px 0;
                font-size: 12px;
            }
            .icons{
                display: flex;
                justify-content: space-between;
                width: 50%;
                margin-top: 10px;
                color: #FFC008;
            }
        }
    }
}