.gallery {
    .contenedor {
        display        : flex;
        justify-content: center;
        margin: 40px 0;

        button {
            text-transform: uppercase;
            text-align    : center;
            font-weight   : 800;
            font-family   : Arial, Helvetica, sans-serif;
            font-size     : 11px;
            height        : 35px;
            width         : 120px;
            cursor: pointer;
            border: none;
            background-color: white;
            color: #222222;
            &:focus, &:hover{
                background-color: #FFC008;
                outline: 0;
            }
        }
    }

    .images {
        width : 65%;
        margin: auto;

        .img {
            display            : inline-block;
            width              : 200px;
            height             : 200px;
            background-repeat  : no-repeat;
            background-size    : cover;
            background-position: center;
        }
    }

}