<div class="gallery">
    <div class="contenedor">
        <div *ngFor="let i of galleryVisible.contenedores">
            <button (click)="getContenedor(i.contenedorId)">
                {{i.name}}
            </button>
        </div>
    </div>
    <div class="images">
        <div [@inOutAnimation]="'in'" *ngFor="let i of galleryVisible.images" class="img"
            [ngStyle]="{'background-image': 'url(' + i.path + ')'}">
        </div>
    </div>
    
</div>