.dsc-carousel {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;

    &::before {
        content   : '';
        height    : 100%;
        width     : 100%;
        position  : absolute;
        top       : 0;
        left      : 0;
        background: rgba(29, 29, 29, 0.849);
    }

    &__content {
        text-align         : center;
        width              : 100%;
        align-self         : stretch;
        display            : flex;
        overflow           : hidden;
        background-image   : url('../../../assets/img/blog-large-3.jpg');
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;

        &-item {
            float          : left;
            display        : flex;
            flex-direction : column;
            align-items    : center;
            justify-content: center;
            min-width      : 100%;
            height         : 100%;
        //    transition     : 1s all ease-in;

            h1 {
                color         : white;
                padding       : 0 20%;
                line-height   : 1.6;
                font-weight   : 400;
                font-size     : 20px;
                font-family   : Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                z-index       : 1;

                span {
                    color: #516CAB;
                }
            }

            p {
                z-index    : 1;
                margin-top: 55px;
                color      : rgba(255, 255, 255, 0.884);
                font-weight: 600;
                font-size  : 13px;
                font-family   : Arial, Helvetica, sans-serif;
                text-transform: uppercase;
                display: flex;
                flex-direction: column;
                span{
                    margin-top: 15px;
                    font-size  : 10px;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }

    &__btns {
        position       : absolute;
        bottom         : 80px;
        width          : 5%;
        margin         : auto;
        display        : flex;
        justify-content: space-between;

        >i {
            opacity        : 0.7;
            color          : #FFC008;
            font-size      : 30px;
            cursor         : pointer;
            justify-content: space-between;

            &:hover {
                opacity: 1;
            }
        }
    }
}