<div class="dsc-carousel" [ngStyle]="{'min-height':finalHeight}">  
    <!-- contenedor de la imagen y titulo -->
    <div class="dsc-carousel__content">
        <ng-container *ngFor="let section of items">
            <div class="dsc-carousel__content-item"  [@carousel]="carousel ? 'start' : 'end'" 
            [ngStyle]="{'margin-left': section.marginLeft + '%' }">
                <h1 >
                    {{section.tittle.first}}
                    <span>{{section.tittle.second}}</span>
                    {{section.tittle.third}}
                </h1>
                <p>{{section.subtittle}}<span>{{section.date}}</span></p>                
            </div>
        </ng-container>
    </div>
    <!-- contenedor botones de posicion -->
        <div class="dsc-carousel__btns">
            <i (click)="setBack()">
                <fa-icon [icon]="faAngleLeft"></fa-icon>
            </i>
            <i (click)="setNext()">
                <fa-icon [icon]="faAngleRight"></fa-icon>
            </i>
        </div>
</div>