<div class="cont">
  <!-- HEADER animations load page-->
  <div [@openPage]="isOpen ? 'open' : 'closed'" class="startAnimation"></div>
  <div [@loading]="isOpen ? 'load' : 'load'" class="loading"></div>
  <!-- NAVBAR -->
  <div class="cont__navbar">
    <app-navbar></app-navbar>
  </div>
  <!-- TITTLE -->
  <div class="cont__tittle">
    <div class="sep"></div>
    <div [@tittle]="isOpen ? 'load' : 'load'" class="contenido">
      <span class=" font-upper-bold">hello</span>
      <h1 class=" font-upper-bold">we are <span class="font-upper-bold">caliber</span></h1>
    </div>
  </div>
  <!-- seccion 2 MADE FOR YOU -->
  <div class="cont__section2">
    <div class="tittle font-upper-bold">
      <h1>made for you</h1>
    </div>
    <div class="slide">
      <div class="card">
        <app-card-button [cardButton]="cardButton"></app-card-button>
      </div>
      <div class="carousel">
        <app-slide [items]="slideData" [height]="height"></app-slide>
      </div>
    </div>
  </div>
  <!-- seccion 3 ART OF WORK -->
  <div class="cont__section3">
    <div class="contenedor">
      <div class="tittle font-upper-bold">
        <h1>art of work</h1>
      </div>
      <div class="cards">
        <app-separador [center]="center2" [left]="left2" [right]="right2"></app-separador>
        <app-card [cards]="cardsData"></app-card>
      </div>
    </div>
  </div>
  <!-- seccion 4 lastest blog -->
  <div class="cont__section4">
    <div class="header">
      <div class="tittle font-upper-bold">
        <h1>latest blog</h1>
      </div>
      <div class="separador">
        <app-separador [center]="center4" [left]="left4" [right]="right4"></app-separador>
      </div>
      <div class="frase">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipscing elit enean commodo aget dolor aenean massa
          aget dolor aenean massa
        </p>
      </div>
    </div>
    <div class="cards">
      <div class="rowCard">
        <div class="img" style="background-image: url('../assets/img/blog-small-1.jpg');"></div>
        <div class="card">
          <app-card-button [cardButton]="cardButton1"></app-card-button>
        </div>
      </div>
      <div class="rowCard">
        <div class="card">
          <app-card-button [cardButton]="cardButton1"></app-card-button>
        </div>
        <div class="img" style="background-image: url('../assets/img/blog-small-4.jpg');"></div>
      </div>
    </div>
  </div>
  <!-- seccion 5 slide big -->
  <div class="cont__section5">
    <app-slide-big [items]="slideBigData" [height]="'550px'"></app-slide-big>
  </div>
  <!-- seccion 6 products -->
  <div class="cont__section6">
    <div class="header">

      <div class="tittle font-upper-bold">
        <h1>featured products</h1>
      </div>
      <div class="separador">
        <app-separador [center]="center4" [left]="left4" [right]="right4"></app-separador>
      </div>
      <div class="frase">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipscing elit enean commodo aget dolor aenean massa
          aget dolor aenean massa
        </p>
      </div>
    </div>
    <div class="cards-products hide-on-init" 
    animateOnScroll animationName="animated fadeInUp">
      <app-card-product [cards]="cardsProductsData"></app-card-product>
    </div>
  </div>
  <!-- seccion 7 cards info -->
  <div class="cont__section7">
    <div class="content hide-on-init" 
    animateOnScroll animationName="animated fadeInUp">
      <app-card-info [cards]="cardsInfo"></app-card-info>
    </div>
  </div>
  <!-- section 8 gallery -->
  <div class="cont__section8">
    <div class="header">

      <div class="tittle font-upper-bold">
        <h1>our gallery</h1>
      </div>
      <div class="separador">
        <app-separador [center]="center4" [left]="left4" [right]="right4"></app-separador>
      </div>
      <div class="frase">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipscing elit enean commodo aget dolor aenean massa
          aget dolor aenean massa
        </p>
      </div>
    </div>
    <div>
      <app-gallery [gallery]="galleryData"></app-gallery>
    </div>
  </div>
  <!-- seccion 9 form contact -->
  <div class="cont__section9">
    <div class="header">

      <div class="tittle font-upper-bold">
        <h1>connect with us</h1>
      </div>
      <div class="separador">
        <app-separador [center]="center4" [left]="left4" [right]="right4"></app-separador>
      </div>
      <div class="frase">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipscing elit enean commodo aget dolor aenean massa
          aget dolor aenean massa
        </p>
      </div>
    </div>
    <div class="form hide-on-init" 
    animateOnScroll animationName="animated fadeInUp">
      <app-form-contact></app-form-contact>
    </div>
  </div>
  <!-- seccion 10 footer -->
  <div class="cont__section10">
    <app-footer></app-footer>
  </div>
</div>