.font-upper-bold {
    text-transform: uppercase;
    font-weight   : bold;
    font-family   : Arial, Helvetica, sans-serif;
    font-size     : 20px;
}

.header {
    text-align: center;
    width     : 50%;
    margin    : auto;

    .tittle {
        color: #222222;
    }

    h1 {
        margin: 0;
    }

    .separador {
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-bottom  : 35px;
        margin-top     : 40px;
    }

    .frase {
        margin-bottom: 70px;
        color        : #7c7c7c;

    }
}

.cont {
    display          : flex;
    flex-direction   : column;
    background-image : url('../assets/img/banner-2.jpg');
    background-size  : cover;
    background-repeat: no-repeat;
    width            : 100%;
    height           : 100vh;

    &::before {
        content   : '';
        height    : 100%;
        width     : 100%;
        position  : absolute;
        top       : 0;
        left      : 0;
        background: linear-gradient(to right, #252525d2 0, #252525d2 60%, #e6af0ade 60%, #e6af0ade 100%);
    }

    .startAnimation {
        position        : absolute;
        width           : 100vw;
        height          : 100vh;
        background-color: #222222;
        z-index         : 1;
    }

    .loading {
        position        : absolute;
        top             : 50%;
        width           : 10px;
        height          : 2px;
        background-color: #FFC008;
        z-index         : 1;
    }

    &__navbar {
        z-index: 0;
        width  : 100%;
        margin : 40px 0;
    }

    &__tittle {
        z-index    : 0;
        width      : 80vw;
        margin     : 30vh auto;
        display    : flex;
        white-space: nowrap;

        .sep {
            width: 30vw;
        }

        .contenido {
            width       : 1vw;
            margin-left : auto;
            margin-right: auto;
            padding-left: 15px;
            border-left : 8px solid #FFC008;

            span {
                font-size: 30px;
                color    : #FFC008;
            }

            h1 {
                font-size: 60px;
                color    : #FFC008;

                span {
                    font-size: 60px;
                    color    : #222222;
                }
            }
        }
    }

    &__section2 {
        width : 60%;
        margin: 40px auto;

        .tittle {
            color: #1d1c1c;
        }

        .slide {
            width  : 100%;
            height : 250px;
            display: flex;

            .card {
                width        : 50%;
                padding-right: 50px;
            }

            .carousel {
                width: 50%;
            }
        }
    }

    &__section3 {
        width           : 100%;
        margin-top      : 100px;
        background-color: #3972EB;
        position        : relative;

        &::before {
            content        : '';
            position       : absolute;
            top            : 0;
            right          : 0;
            width          : 75%;
            height         : 100%;
            background     : url('../assets/img/ipad_artofwork_yellow.png') no-repeat center center;
            background-size: 600px;
        }

        .contenedor {
            width         : 60%;
            height        : 700px;
            margin        : auto;
            display       : flex;
            flex-direction: column;
            padding-top   : 75px;

            .tittle {
                color: white;
            }

            .cards {
                padding-top: 15px;
            }
        }
    }

    &__section4 {
        width  : 100%;
        padding: 120px 0;
        margin : auto;

        .cards {
            width         : 65%;
            margin        : 0 auto;
            display       : flex;
            flex-direction: column;

            .rowCard {
                display: flex;
                margin : 30px 0;
                height : 250px;

                .card {
                    width : 50%;
                    height: 90%;
                    margin: 0 15px;
                }

                .img {
                    width              : 50%;
                    height             : 100%;
                    background-repeat  : no-repeat;
                    background-size    : cover;
                    background-position: center;
                    margin             : 0 15px;
                }
            }

        }
    }

    &__section6 {
        width  : 100%;
        padding: 120px 0;
     
    }

    &__section7 {
        .content {
            width              : 100%;
            height             : 500px;
            background-image   : url('../assets/img/banner-1.jpg');
            background-position: center;
            background-repeat  : no-repeat;
            background-size    : cover;
            position           : relative;

            &::before {
                content         : '';
                width           : 100%;
                height          : 100%;
                position        : absolute;
                top             : 0;
                left            : 0;
                background-color: #222222be;
            }
        }
    }

    &__section8 {
        width  : 100%;
        padding: 120px 0;
    }

    &__section9 {
        width              : 100%;
        padding-top        : 120px;
        padding-bottom        : 60px;
        position           : relative;
        background-image   : url('../assets/img/banner-4.jpg');
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : cover;
        z-index            : 0;

        &::before {
            content         : '';
            position        : absolute;
            top             : 0;
            left            : 0;
            width           : 100%;
            height          : 100%;
            background-color: rgba(24, 24, 24, 0.836);
            z-index         : -1;

        }

        h1 {
            color: white;
        }

        p {
            color: rgba(255, 255, 255, 0.76);
        }

        .form {
            width : 65%;
            margin: auto;
        }
    }
}