.footer {
    display         : flex;
    justify-content : center;
    background-color: #212121;
    color           : rgba(255, 255, 255, 0.76);
    padding: 80px 0;
    font-family: Arial, Helvetica, sans-serif;


    .cont {
        width : 20%;
        margin: 0 20px;

        >h1{
            text-transform: uppercase;
            font-size: 20px;
            
        }
        
       .contenido{
            margin: 20px 0;
            p{
                font-size: 12px;
                font-weight: 500;
                line-height: 20px;
                margin-top:0 ;
            }
            .twitter{
                display: flex;
                fa-icon{
                    margin-right: 10px;
                }
                span{
                    font-size: 13px;
                    font-weight: 900;
                }
                span.date{
                    font-size: 11px;
                    font-weight: 100;
                }
            }
        }
        .img {
            display: inline-block;
            width  : 50px;
            height : 50px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 5px;
        }
    }
}

.separador_end {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding         : 0 17%;
    background-color: #141414;
    color           : rgba(255, 255, 255, 0.76);
    font-size       : 15px;

    .icons {
        display        : flex;
        width          : 150px;
        justify-content: space-between;
    }
}