<div class="footer">
    <div class="cont">
        <h1 style="color: #FFC008;">caliber</h1>
        <app-separador [center]="center1" [left]="left1" [right]="right1"></app-separador>
        <div class="contenido">
            <p>this is a unique & creatively designed layout built in Photoshop with a modern look. ALl
                the file are well organized and named as per content. Its very easy to change any part.
            </p>
            <p>Email: youremail@example.com</p>
            <p>phone: +1 234 5678 910</p>
        </div>
    </div>
    <div class="cont">
        <h1>twitter</h1>
        <app-separador [center]="center2" [left]="left2" [right]="right2"></app-separador>
        <div class="contenido">
            <div class="twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>
                <p>
                    <span>@thePixelsTheme</span>
                    actually preparing a blog :)
                    <span class="date">10 minutes ago</span>
                </p>
            </div>
            <div class="twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>
                <p>
                    Inspired by<span>@mattJhon</span>
                    #10Bootstrap #Vime
                    <span class="date">30 minutes ago</span>
                </p>
            </div>
            <div class="twitter">
                <fa-icon [icon]="faTwitter"></fa-icon>
                <p>
                    <span>@thePixelsTheme</span>
                    Current desing trends of a blog
                    <span class="date">1 hour ago</span>
                </p>
            </div>
        </div>
    </div>
    <div class="cont">
        <h1>flickr</h1>
        <app-separador [center]="center2" [left]="left2" [right]="right2"></app-separador>
        <div class="contenido">
            <div class="img" *ngFor="let i of imgs" [ngStyle]="{'background-image':'url('+i.path+')'}"></div>
        </div>
    </div>
</div>
<div class="separador_end">
    <p>© 2015 CALIBER theme | Made by THEMEPASSION</p>
    <div class="icons">
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faGlobe"></fa-icon>
        <fa-icon [icon]="faGooglePlusG"></fa-icon>
        <fa-icon [icon]="faYoutube"></fa-icon>
    </div>
</div>