.dsc-carousel {
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;

    &::before {
        content   : '';
        height    : 100%;
        width     : 100%;
        position  : absolute;
        top       : 0;
        left      : 0;
       
    }

    &__content {
        text-align: center;
        width     : 100%;
        align-self: stretch;
        display   : flex;
        overflow  : hidden;

        &-item {
            float              : left;
            display            : flex;
            flex-direction     : column;
            align-items        : center;
            justify-content    : center;
            min-width          : 100%;
            height             : 90%;
            background-repeat  : no-repeat;
            background-size    : cover;
            background-position: center;

            h1 {
                color         : white;
                font-weight   : 900;
                text-transform: uppercase;
                z-index       : 1;
            }

            p {
                z-index    : 1;
                color      : white;
                font-weight: 500;
                font-size  : 20px;
            }
        }
    }

    &__btns {
        position       : absolute;
        width          : 90%;
        margin         : auto;
        display        : flex;
        justify-content: space-between;

        >i {
            opacity        : 0.7;
            color          : #fff;
            font-size      : 45px;
            cursor         : pointer;
            justify-content: space-between;

            &:hover {
                opacity: 1;
            }
        }
    }

    &__steps {
        position: absolute;
        bottom  : 10px;
        width   : 100%;
        display : flex;

        &-step {
            height          : 6px;
            width           : 30px;
            margin          : 0 5px;
            cursor          : pointer;
            transition      : 0.3s all ease-in-out;
            background-color: #cacaca;

            &:hover,
            &-active {
                background: #FFC008;
            }
        }
    }
}