<div class="texto">
    <app-separador *ngIf="cardButton.separador" [center]="center" [left]="left" [right]="right"></app-separador>
    <div class="fecha" *ngIf="cardButton.fecha !==undefined">{{cardButton.fecha}}</div>
    <div class="tittle" *ngIf="cardButton.tittle !==undefined">{{cardButton.tittle}}</div>
    <div class="parrafo" [innerHTML]="cardButton.texto"></div>
    <div class="button">
      <button>{{cardButton.tittleButton}}</button>
    </div>
  </div>