.texto {
    position     : relative;
    padding-top  : 0;
    height: 100%;

    .parrafo {
        text-align : justify;
        color      : #7c7c7c;
        font-size: 87.5%;
       // padding-top: 20px;
    }

    .tittle , .fecha{
        text-transform: uppercase;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        margin: 10px 0;
    }    
    .fecha{
        font-size: small;
        color: #FFC008;
    }
    .tittle{
        color: rgba(0, 0, 0, 0.9);
    }

    button {
        position        : absolute;
        bottom          : 0;
        text-transform  : uppercase;
        text-align      : center;
        font-weight     : bold;
        font-family     : Arial, Helvetica, sans-serif;
        font-size       : 11px;
        height          : 35px;
        width           : 120px;
        background-color: #FFC008;
        border-style    : none;
    }
}