<div class="separador">
    <div class="left" [ngStyle]="{'width':left.width,'height':left.height,'background-color':left.color}"></div>
    <div class="center"   [ngStyle]="{'width':center.width,'height':center.height,'background':center.color}"></div>
    <div class="right"  [ngStyle]="{'width':right.width,'height':right.height,'background-color':right.color}"></div>
</div>
