<div class="cards">
    <div class="card" *ngFor="let c of cards" >
        <div class="img" [ngStyle]="{'background-image': 'url(' + c.img + ')'}">
            <div class="etiqueta" *ngIf="c.etiqueta">{{c.etiqueta}}</div>
            <div class="precio">${{c.precio | number:'1.2-2'}}</div>
        </div>
        <div class="tittle">
            <h1>{{c.tittle}}</h1>
            <div class="stars">
                <fa-icon [icon]="faStar" *ngFor="let n of getStarsFill(c.estrellas)"></fa-icon>
                <fa-icon [icon]="faStar" *ngFor="let n of getStarsEmpty(c.estrellas)" style="opacity: 0.5;"></fa-icon>
            </div>
        </div>
    </div>
</div>