.cards {
    display        : flex;
    justify-content: space-between;
    font-family    : Arial, Helvetica, sans-serif;
    width : 65%;
    margin: auto;
    .card {
        width : 100%;
        margin: 0 10px;

        .tittle {
            background-color: #FFC10A;
            color           : #222222;
            height: 75px;
            position: relative;
            h1 {
                text-transform: uppercase;
                margin-top: 0;
                font-weight: bolder;
                font-size: 15px;
                line-height: 55px;
                padding-left: 10px;
            }
            .stars{
                font-size: 10px;
                width: 30%;
                display: flex;
                position: absolute;
                bottom: 15px;
                left: 10px;
                justify-content: space-between;
            }
        }

        .img {
            height             : 250px;
            background-repeat  : no-repeat;
            background-position: center;
            background-size    : cover;
            position           : relative;

            >div {
                position   : absolute;
                height     : 35px;                
                line-height: 35px;

            }

            .etiqueta {
                top         : 0;
                left        : 0;
                color       : #222222;
                width       : 170px;
                background  : linear-gradient(125deg, #FFC10A 0%, #FFC10A 50%, #ffffff00 50%, #ffffff00 100%);
                padding-left: 7px;
                font-weight: 700;
                font-size  : 12px;
            }

            .precio {
                z-index: 1;
                bottom       : -15px;
                right        : 0;
                color        : white;
                width        : 150px;
                background   : linear-gradient(65deg, #ffffff00 0%, #ffffff00 50%, #222222 50%, #222222 100%);
                text-align   : right;
                padding-right: 5%;
                font-weight: 800;
                font-size  : 15px;
            }
        }
    }
}