<div class="cards" >
    <div class="card" *ngFor="let c of cards">
        <div class="tittle">{{c.tittle}}</div>
        <div class="text">
            <div class="subtittle">{{c.subtittle}}</div>
            <p>{{c.text}}</p>
        </div>
        <div class="button"><button>{{c.buttonText}}</button></div>
    </div>
</div>