.cards {
    width        : 65%;
    height       : 100%;
    margin       : auto;
    text-align   : center;
    display      : flex;
    align-content: space-between;
    align-items  : center;

    .card {
        display       : flex;
        flex-direction: column;
        padding       : 0 10px;
        z-index       : 1;
        font-family   : Arial, Helvetica, sans-serif;


        .tittle {
            width           : 100%;
            height          : 70px;
            line-height     : 70px;
            background-color: #FFC008;
            color           : #222222;
            font-size       : 30px;
            font-weight     : bold;
            text-transform  : uppercase;
        }

        .text {
            height          : 275px;
            width           : 100%;
            color           : white;
            background-color: #222222c9;

            .subtittle {
                font-size     : 20px;
                font-weight   : bold;
                text-transform: uppercase;
                margin        : 10% 0;
            }

            p {
                color      : rgba(255, 255, 255, 0.7);
                font-size  : 13px;
                line-height: 25px;
                padding    : 0 20px;
            }
        }

        .button {
            position: relative;
            width   : 100%;

            button {
                position        : absolute;
                margin-left     : auto;
                margin-right    : auto;
                left            : 0;
                right           : 0;
                text-align      : center;
                bottom          : -10px;
                height          : 30px;
                width           : 120px;
                background-color: #FFC008;
                border-style    : none;
                font-family     : Arial, Helvetica, sans-serif;
                font-size       : 11px;
                font-weight     : bold;
                color           : #222222;
            }
        }
    }
}