.nav {
    z-index    : 1;
    width      : 70vw;
    height     : 40px;
    display    : flex;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;


    .cont-logo {
        width      : 20vw;
        a {

            display        : block;
            color          : #FFC008;
            text-align     : center;
            text-decoration: none;
            text-transform : uppercase;
            font-weight    : bold;
            font-size      : 18px;

        }

        :after {
            content      : "";
            display      : block;
            width        : 20px;
            padding-top  : 15px;
            border-bottom: 2px solid #FFC008;
            margin-left: 35%;
        }

    }

    .cont-ul {
        width: 1vw;
        height      : 40px;
        background  : linear-gradient(to right, #FFC008 0, #FFC008 50%, #222222 50%, #222222 100vw);
        margin-left : auto;
        margin-right: auto;

        ul {
            list-style-type: none;
            margin         : 0;
            padding        : 0;
        }

        .tittle {
            float : left;
            height: 40px;
        }

        .dropbtn {
            display        : block;
            text-align     : center;
            padding        : 14px 0;
            text-decoration: none;
            text-transform : uppercase;
            font-size      : 11px;
            font-weight    : 700;
        }

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display         : none;
            position        : absolute;
            top             : 80px;
            background-color: #222222;
            box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding         : 12px 16px;
            z-index         : 1;


        }

        .dropdown-content a {
            color          : #FFC008;
            padding        : 6px 2px;
            text-decoration: none;
            display        : block;
            text-align     : left;
            font-size      : 11px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

    }
}
fa-icon{
    color: white;
}