<div class="nav">
    <div class="cont-logo">
        <a href="">Caliber</a>
    </div>
    <div class="cont-ul" [@navbar]="isLoad ? 'load' : 'load'">
        <ul>
            <div *ngFor='let item of dataNav'>
                <li class="tittle dropdown" [ngStyle]="{'width':item.width}">                
                        <a class="dropbtn" [ngStyle]="{'color':item.color}">
                            {{item.tittle}} 
                            <fa-icon [icon]="faAngleDown" *ngIf="item.links" [ngStyle]="{'color':item.color}"></fa-icon>
                        </a>
                    <div class="dropdown-content" *ngIf="item.links">
                        <a class="link" *ngFor="let link of item.links">{{link}}</a>
                    </div>
                </li>
            </div>
        </ul>
    </div>
</div>