<div *ngFor="let c of cards" class="cards">
    <div class="cards__icon">
        <fa-icon [icon]="getIcon(c.icon)"  size="2x"></fa-icon>
    </div>
    <div class="cards__content">
        <div class="tittle">
            <h1>{{c.tittle}}</h1>
        </div>
        <div class="text">
            <p>{{c.text}}</p>
        </div>
    </div>
</div>