.cards {
    display    : flex;
    color      : white;
    width      : 250px;
    padding-top: 5px;

    &__icon {
        width      : 60px;
        margin     : 5px;
        margin-left: 0;
        font-size  : 17px;
        padding-top: 20px;
    }

    &__content {
        margin        : 5px;
        display       : flex;
        flex-direction: column;

        .tittle {
            margin        : 5px;
            margin        : 0;
            text-transform: uppercase;
            font-size     : 12px;

            h1 {
                margin-top: 15px;
            }
        }

        .text {
            margin: 0;

            p {
                margin-top : 0;
                font-family: sans-serif;
                font-size  : small;
                font-weight: 100;
                line-height: 20px;
                opacity    : 0.7;
            }
        }
    }
}